@page "/department"
@using Masa.Blazor.Presets
<MRow>
    <MCol Cols="4">
        <MTextField @bind-Value="_message1"
                    Solo
                    Clearable
                    Hint="请输入检索内容">
        </MTextField>
    </MCol>
    <MCol Cols="3">
        <MButton Fab
                 Dark
                 Color="indigo">
            <MIcon>mdi-account-search</MIcon>
        </MButton>
                <PModal @bind-Value="value"
                Persistent
                Title="添加部门"
                Width="400"
                SaveProps="props => props.Outlined = true"
                CancelProps="@(props => props.Color = "orange")"
                DeleteProps="@(props => props.Style = "font-weight:bold;")"
                OnSave="OnSave"
                OnCancel="OnCancel"
                OnDelete="OnDelete">
            <ActivatorContent>
                <MButton Color="pink"
                          Dark
                          Fab
                         @attributes="@context.Attrs">
                    <MIcon>
                        mdi-plus
                    </MIcon>
                </MButton>
            </ActivatorContent>
            <ChildContent>
                <MRow>
                    <MCol Cols="12">
                        <span>部门姓名：</span>
                        <MTextField @bind-Value="_depname"
                                        Solo
                                        Clearable
                                    Hint="请输入部门的姓名"></MTextField>
                        </MCol>

                        </MRow>
                            </ChildContent>
                            </PModal>

    </MCol>
</MRow>

<MRow>
    <MCol Cols="12" >
                <MDataTable Headers="_headers"
                    Items="_desserts"
                    ItemsPerPage="10"
                    Class="elevation-1"
                    HideDefaultFooter="true"
                    ItemKey="x=>x.Id"
                    Search="@_message1"
                    >
            <ItemColContent>
                @if (context.Header.Value == "actions")
                {
                    <MIcon Small
                       Class="mr-2"
                       OnClick="()=>EditItem(context.Item)">mdi-pencil</MIcon>
                }
                else
                {
                    @context.Value
                }
            </ItemColContent>
        </MDataTable>
    </MCol>
</MRow>

<MRow>
    <MCol Cols="6" Offset="3">
        <div class="text-center">
            <MPagination @bind-Value="_index" Length=@_total></MPagination>
        </div>
    </MCol>
</MRow>

@code {
    private string _message1;
    private bool value;
    private string _depname;
    private int _index = 1;
    private int _total = 16;
    private async Task OnSave()
    {
        await Task.Delay(1000);

        value = false;
    }

    private void OnCancel()
    {
        value = false;
    }

    private void OnDelete()
    {
        value = false;
    }
    public record DepartmentItem
    {
        public string Id{ get; set; }
        public string DepName{ get; set; }
        public int Count{ get; set; }
    }

    private List<DataTableHeader<DepartmentItem>> _headers = new List<DataTableHeader<DepartmentItem>>
        {
           new ()
           {
            Text= "部门名称",
            Sortable= false,
            Value= nameof(DepartmentItem.DepName)
          },
          new (){ Text= "部门人数", Value= nameof(DepartmentItem.Count)},
          new(){Text="操作",Value="actions"}
        };
    private List<DepartmentItem> _desserts = new List<DepartmentItem>
    {
        new DepartmentItem
        {
            Id="1",
            DepName="消防部门",
            Count=45
        },
                new DepartmentItem
        {
            Id="2",
            DepName="装修部门",
            Count=145,
        },
                new DepartmentItem
        {
            Id="3",
            DepName="打杂部门",
            Count=45,
        },
    };
            private void EditItem(DepartmentItem department)
        {
            Console.WriteLine(department.ToString());
        }
}
